body {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1.Title {
    font-size: 400%;
    color: blue;
    text-align: center;
    outline-style: double;
    border: 10px solid black;
    outline-color: yellow;
}

p.Info {
    font-size: 200%;
    color: blue;
    text-align: center;
    border-bottom-style: solid;
    border-bottom: 5px solid yellow;
    padding-bottom: 20px;
}

.button {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    margin: 4px 2px;
    cursor: pointer;
    margin: auto;
    width: 40%;
    display: block;
    border-radius: 12px;
}

#sadmickey {
    width: 400px;
    float: left;
}

#happymickey {
    width: 400px;
    float: right;
}

#wrapper {
    width: 1300px;
    margin: auto;
    max-width: 100%;
}
