html {
    background: url(https://climatecrock.files.wordpress.com/2015/04/sunfork.jpg?w=480) no-repeat center center fixed;
    background-size: cover;
}

img {
    height: 300px;
    position: absolute;
    left: 550px;
    top: 400px;
}

button {
    width: 300px;
    height: 300px;
}

#buttonone {
    position: absolute;
}

#buttontwo {
    position: absolute;
    left: 550px;
}

#buttonthree {
    position: absolute;
    left: 1100px;
}

.popover {
    background-color: blue;
    width: 200px;
    height: 200px;
    font-family: Georgia;
    color: white;
    padding: 10px;
    display: none;
    border: 5px solid white;
    position: absolute;
    left: 30px;
    top: 25px;
}

.popover {
    position: relative;
}

.popover:after,
.popover:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
}

.popover:after {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: blue;
    border-width: 20px;
    margin-left: -31px;
}

.popover:before {
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: white;
    border-width: 25px;
    margin-left: -36px;
}
